.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 100vh;
  min-width: 1112px;
}

body {
  overflow-x: auto !important;
}

header {
  padding: 10px 0px;
  background-color: #3b3b3d;
}

footer {
  margin: 22px 0px 0px 0px;
  padding: 50px 0px;
  background-color: #3b3b3d;
}

main {
  box-sizing: border-box;
  max-width: 800px;
  min-width: 800px;
  width: 100%;
}

aside {
  width: 290px;
  max-width: 290px;
  margin: 50px 0px 0px 11px;
}