.App {
  text-align: center;
}

.main-header {
  padding: 10px 0px;
  background-color: #333333;
}

video.logo {
  zoom: 0.5;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  box-sizing: border-box;
  max-width: 800px;
  min-width: 800px;
  width: 100%;
}

aside {
  width: 240px;
  margin: 11px 0px 0px 11px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.badge-title {
  display: inline-block;
  cursor: pointer;
  max-width: 190px;
  margin: -5px 0px;
  padding: 0px;
}

.badge-categories {
  max-width: 245px;
}

.badge-img {
  cursor: pointer;
}