.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 100vh;
}

.main-header {
  padding: 10px 0px;
  background-color: #3b3b3d;
}

footer {
  margin: 22px 0px 0px 0px;
  padding: 50px 0px;
  background-color: #3b3b3d;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  box-sizing: border-box;
  max-width: 800px;
  min-width: 800px;
  width: 100%;
}

aside {
  box-sizing: border-box;
  width: 300px;
  margin: 11px 0px 0px 11px;
}