.table-item:hover {
  cursor: pointer;
}

.table-header {
  background-color: white;
}

.table-footer {
  position: sticky;
  bottom: 0px;
  padding: 22px 0px;
  background-color: #fff;
  text-align: right;
}

.badge-title {
  display: inline-block;
  max-width: 190px;
  margin: -5px 0px;
  padding: 0px;
}

.badge-categories {
  max-width: 245px;
}

em.positive {
  color: green;
}

em.negative {
  color: red;
}