.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nowrap-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}