.table-item:hover {
  cursor: pointer;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.badge-title {
  display: inline-block;
  cursor: pointer;
  max-width: 190px;
  margin: -5px 0px;
  padding: 0px;
}

.badge-categories {
  max-width: 245px;
}

.badge-img {
  cursor: pointer;
}